body {
    background-color: #555;
}

select {
    color: #444;
}

.square {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #f0ad4e;
    /*border: outset 3px #777;*/
    margin: 2px;
}

.open {
    background-color: #aaa;
}

.open.bomb {
    background-color: red;
}

.marked {
    background-color: #cece00;
}

.game-area {
    display:table;
    margin:0 auto;
    color: #ddd;
}

.header {
    text-align: center;
}

.header:before {
    content: "\00a0 ";
}