.square {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border: outset 3px #777;
}

.open {
    background-color: #fff;
}

.open.bomb {
    background-color: red;
}